/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
#service .row-flex{display: block;}
#favorable h5{margin-top: 30px;}
#favorable h5{margin: 0;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
header .descr{padding: 0 100px;}
#favorable h5{margin-top: 30px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
#favorable h5{margin-top: 0;}
.slick,.draggable,.slick-track{height: auto !important;}
#tours .row{margin-top: 0;}
#service .advice{padding: 15px;}
h3:after{display: none;}
#service .card{padding: 15px 0 0}
#tours .action{margin-top: 15px;}
#contacts .info{padding: 0;border: none;}
#contacts form {padding: 0;}
.feedback{margin-top: 15px;padding: 0;}
#contacts .enter{padding-top: 15px;padding-bottom: 15px;margin-top: 20px;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
header .descr{padding: 0 30px;}
h2{font-size: 33px;}
header .descr p{font-size: 17px;}
.action{font-size: 13px;}
section{padding: 40px 0;}
#favorable .ticket img {padding-bottom: 15px;}
h3:after{margin: 0;}
#favorable .row-flex{margin-top: 10px;}
#service{padding-top: 0;}
.ticket > [class*='col-']{padding-left: 0;padding-right: 0;}
#favorable .ticket img {width: auto;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}