@font-face{font-family:"BaronNeue";src:url("../fonts/BaronNeue/BaronNeue.otf"),
url("../fonts/BaronNeue/BaronNeue.otf") format("otf");font-style:normal;font-weight:normal;}
@font-face{font-family:"BaronNeueBold";src:url("../fonts/BaronNeueBold/BaronNeueBold.otf"),
url("../fonts/BaronNeueBold/BaronNeueBold.otf") format("otf");font-style:normal;font-weight:normal;}
@font-face{font-family:"AzkidenzGroteskPro";src:url("../fonts/AzkidenzGroteskPro/AkzidenzGroteskPro-Light.otf"),
url("../fonts/AzkidenzGroteskPro/AkzidenzGroteskPro-Light.otf") format("otf");font-style:normal;font-weight:normal;}